html {
font-family: 'Cinzel', serif;
Background-color:#f8f8f8;
}
body{
background-color:#ffffff;
Margin:120px;
padding:60px;
border: 5px solid black;
}
h1{
Font-size:14px;
color:#317bff;
}
p{
  font-size: 14px;    
  line-height: 2;
  letter-spacing: 1px;
}
Img{
Width:1300px;
display: block;
margin: 0 auto;
}